@page "{id}"
@model WebASPPizzaTime.Pages.Commodityes.DetailsModel
@{
    ViewData["Title"] = "Commodity Details";
    var photoPath = $"/images/{Model.Commodity.PhotoPath ?? "noimage.png"}";
}

<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <div class="card cardBoxShadow">
            <div class="card-header cardHeaderStyle text-center">
                <h1>@Model.Commodity.Name</h1>
            </div>
            <div class="card-body cardBodyStyle text-center">
                <div class="row">
                    <div class="col col-lg-9">
                        <h4 class="cardTextLeftFloating">Commodity ID: @Model.Commodity.Id</h4><hr />
                        <h4 class="cardTextLeftFloating">Email: @Model.Commodity.Email</h4><hr />
                        <h4 class="cardTextLeftFloating">Department: <span class="text-danger font-weight-bold">@Model.Commodity.Department</span></h4><hr />
                    </div>
                    <div class="col col-lg-3">
                        <div style="border-right: 1px solid rgba(0,0,0.1);">
                            <img class="card-img-top imageThumbnail border border-primary" style="background-color: #d1e7ff;" 
                                 src="@photoPath" asp-append-version="true" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card-footer text-center" style="background-color: rgba(0,0,0,0.25); ">
                            <a asp-page="/Commodityes/Commodityes" class="btn btn-success buttonShadow">Back</a>
                            <a asp-page="/Commodityes/Edit" class="btn btn-primary buttonShadow">Edit</a>
                            <a asp-page="/Commodityes/Delete" class="btn btn-danger buttonShadow">Delit</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>